body {
  background-color: #ffa07a;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  background-color: white;
}

h1 a {
  text-decoration: none;
  color: #dc143c;
}

.first-sec {
  display: flex;
  flex-direction: column;
}

.first-sec section:first-child {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.photos {
  margin: 0 auto;
  width: 100%;
}

.first-sec section:first-child img:first-child {
  margin: 0 5px 0 0;
}

section p {
  text-align: center;
  background-color: white;
  font-size: 20px;
}

.description {
  margin: 0 auto;
  width: 98%;
}

.second-sec,
.third-sec {
  background-color: rgba(255, 0, 0, 0.2);
  /* color: white; */
  border: 1px solid black;
  margin: 0 auto;
  width: 98%;
}
